body {
  font-family: sans-serif;
}

svg * {
  font-family: monospace;
  font-size: 8pt;
}

#heading {
  text-align: center;
}

#main > div {
  display: inline-block;
}

#syntax {
  position: relative;
}

.locationBlock {
  position: absolute;
  top: 0;
  left: 0;
}

.locationSection {
  background-color: #F08A8A;
}

#details {
  vertical-align: top;
  margin-left: 3em;
}

.node {
  cursor: pointer;
}

.graph {
  display: inline-block;
  border: 2px dotted black;
  margin: 1em;
  padding: 1em;
}
