body {
  margin: 0;
  padding: 0;
}

#hbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
}

#vbox {
  display: flex;
  flex-direction: column;
  flex: 6 1 auto;
}

#explorer {
  background-color: white;
  flex: 1 1 150px;
  padding: 5px;
  border-right: 5px solid #ebebeb;
  font-family: sans-serif;
  font-size: 80%;
  overflow: auto;
}

#explorer ul {
  padding-left: 20px;
  margin-top: 5px;
}

#explorer a, #explorer a:hover, #explorer a:visited {
  color: black;
}

#explorer a:hover {
  text-decoration: underline;
}

.file-list {
  margin-bottom: 8px;
}

#console {
  flex: 1 1 150px;
  background-color: white;
  overflow: auto;
  border-top: 5px solid #ebebeb;
  font-family: monospace;
  padding: 5px;
  white-space: pre-wrap;
}

#editor {
  flex: 6 1 auto;
}

